<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Capstone Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link href="/src/client/styles/base.scss">
</head>
<body>
  <div id = "app">
    <div class ="holder headline">
      Capstone Travel App
    </div>
    <div class ="holder geonames">
      <label for="city">Where Do You Wish To Go?</label>
      <input type="text" id="city" placeholder="Enter City Here">
    </div>
    <div class ="holder feel">
      <button id="submit" type = "submit"> Submit </button>
    </div>
    <div class ="holder entry">
      <div class = "title">About Your Destination:</div>
    </div>
    <div id = "entryHolder">
      <div id = "lat"></div> 
      <div id = "long"></div>
      <div id = "country"></div>
    </div>
  </div>

  <script src="app.js" type="javascript"></script>

</body>
</html>