<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Capstone Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link href="/src/client/styles/base.scss">
</head>
<body>
  <div id = "app">
    <div class ="holder headline">
      Capstone Travel App
    </div>

    <section>
      <form>
        <div class ="holder geonames">
          <label for="city">Where Do You Wish To Go?</label>
          <input type="text" id="city" placeholder="Enter City Here">
        </div>

        <!-- <div class="holder departure">
          <label for="Departure Date">When Will You Depart?</label>
          <input type="text" id="departure" placeholder="Enter Departure Date Here">
        </div>

        <div class="holder return">
          <label for="Return Date">When Will You Return?</label>
          <input type="text" id="return" placeholder="Enter Return Date Here">
        </div> -->

        <div class ="holder submit">
          <button id="submit" type = "submit"> Submit </button>
        </div>
      </form>
    </section>
  
    <div class ="holder entry">
      <div class = "title">About Your Destination:</div>
    </div>

    <section>
      <div id = "entryHolder">
        <div id = "lng"></div> 
        <div id = "lat"></div>
        <div id = "city"></div>
        <div id = "country"></div>
        <div id = "wikipedia"></div>
      </div>
    </section>

  </div>

  <script src="app.js" type="javascript"></script>

</body>
</html>