<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Capstone Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link href="/src/client/styles/base.scss">
  <link href="/src/client/styles/footer.scss">
  <link href="/src/client/styles/form.scss">
  <link href="/src/client/styles/header.scss">
  <link href="/src/client/styles/resets.scss">
  <link rel="icon" href="data:,"> <!-- Added to combat 'favicon.ico' GET errors. Reference: https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests-->
</head>
<body>
  <div id = "app">
    <div class ="headline">
      Plan Your Next Adventure
    </div>

    <section>
      <div class="card in">
        <form>
          <div class ="holder destination">
            <label for="city">Where Do You Wish To Go?</label>
            <input type="text" id="city" placeholder="Enter City Here">
          </div>
<!--   
          <div class="holder date">
            <label for="Departure Date">When Will You Depart?</label>
            <input type="text" id="departure" placeholder="Enter Departure Date Here">

            <label for="Return Date">When Will You Return?</label>
            <input type="text" id="return" placeholder="Enter Return Date Here">
          </div> -->
  
          <div class ="holder submit">
            <button id="submit" type = "submit"> Submit </button>
          </div>
        </form>
      </div>
    </section>
  
    <div class="card out">
      <div class ="holder entry">
        <div class = "title">About Your Destination:</div>
      </div>
  
      <div id = "geoEntry">
        <div id = "lat"></div>
        <div id = "lng"></div> 
        <div id = "city"></div>
        <div id = "country"></div>
        <div id = "wikipedia"></div>
      </div>
    </div>
  </div>

  <footer>
    <div id="footerCard">
      <div id="copyright">
        Starter code and project instructions provided by Udacity.com. Special thanks to the APIs: Geonames, WeatherBit, and Pixabay.
      </div>
      <div id="photo-credit">
        Background Image Credit: https://1.bp.blogspot.com/-MYepqyyYh7s/Tjr_juvuVEI/AAAAAAAAC9k/iMW1o7lhIOI/s1600/travel_0007.jpg
      </div>
    </div>
  </footer>
  

  <!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
  </script> -->

</body>
</html>