body{
    background: #1c8cd7;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

#app{
    display: flex;
    flex-direction: column;
    height:100vh;
    color: #fffffe;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
