body{
    background: #6d04e6;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /* Image Source: https://assets.wallpapersin4k.org/uploads/2017/04/Beautiful-Weather-Wallpapers-24.jpg */
    background: url(./img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    

    color: #f0d43a;
    margin: 0 auto;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


.holder{
    
}

.entry{
    background: rgba(59, 74, 107, .4);
}

#entryHolder{
    
}

#date{
    
}

#temp{

}

#content{
    
}

.headline {
    text-align: center;
    font-size: 30px;
    color: #f0d43a;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    letter-spacing: 1.5px;

}

.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
    text-align: center;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    letter-spacing: 1.5px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#41bcdf;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    border: none;
    margin: 0 auto;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    letter-spacing: 1.5px;
    margin: 0 auto;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#41bcdf;
    color: black;
    letter-spacing: 1.5px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 